{% extends  'base.html' %}

		 	
{%block contenido %}
	
		

<div class="row">

       <div class="col-lg-3">

          <h1 class="my-4" align="center">Buscar:</h1>
          <div class="list-group">
            <a href="/blog/categoria/perro" class="list-group-item">Perros</a>
            <a href="/blog/categoria/gato" class="list-group-item">Gatos</a>
          </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">
           <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          </div>
            <div class="container">
            	<h1 class="my-4" align="center">Mascotas en Adopcion</h1>
         
          <div class="row">
		            {% for blog in blogs %}
				 	<div class="col-lg-4 col-md-6 mb-4">
		              <div class="card h-40">
		                <a href="#"><img class="card-img-top" src="{{ url_for('static', filename='imagenes/' + blog.foto ) }}" alt="" width="150" height="150"></a>
		                <div class="card-body">
		                  <h4 class="card-title"> {{blog.titulo }}</h4>
		                  <p>Fecha: {{ blog.fecha_publicacion }}</p>
		                  <h>Mascota: {{ blog.tipo_animal.upper() }}</h5>
		                  <p class="card-text">Comentario: {{ blog.comentario }}</p>
		                </div>
		                <div class="card-footer">
		                  <a href="/blog/contacto/{{blog.id_persona}}" class="btn btn-success"> Contactar </a>
		                </div>

		              </div>
		            </div>
		         {% endfor %}


          </div>
         
          <!-- /.row -->
        </div>
        </div>
        <!-- /.col-lg-9 -->

      </div>



{%endblock%}